# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\file_miei\web_apps\DTHardware\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
