
#selectable .ui-selecting {  }
#selectable .ui-selected {  }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
#selectable li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 4em; text-align: center; }
#selectable ol { alignment: center;}
#selectable { cursor: pointer;}

.container {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0px;
    padding: 2px;
}

.nTelefonotext {
    font-family: "Courier-new";
}
.email
{
    margin-left: 15px;
    font-family: "Courier-new";
}
.icon {

    vertical-align: middle;
    font-size: 40px;
}

